@font-face {
  font-family: 'Space Grotesk';
  src:
    url("static/Space-Grotesk/SpaceGrotesk_wght.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Add this line */
}

body {
  font-family: 'IBM Plex Sans', 'Berkeley Mono', sans-serif;
}

code {
  font-family: 'JetBrains Mono', 'Hack Nerd Font',  'Courier New', Courier, monospace;
}

h1 {
  font-family: 'Space Grotesk';
};