/* @font-face {
  font-family: 'Space Grotesk';
  src:
    url("static/Space-Grotesk/SpaceGrotesk_wght.woff2") format('woff2'),
    url("static/Space-Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM-Plex-Sans';
  src:
    url("static/IBM-Plex-Sans/IBMPlexSans-Regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

body {
  font-family: "Space Grotesk", "IBM Plex Sans", system-ui, -apple-system;
}

.title {
  font-family: "Space Grotesk", "IBM Plex Sans", system-ui, -apple-system;
}
